.container {
  padding: 0 8rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}